<div class="container">
    <div class="row">
        <picture class="mx-auto d-block">
            <a href="https://www.githubwrapped.io/shortthirdman" class="text-decoration-none" data-bs-toggle="tooltip"
                data-bs-placement="top" title="GitHub Wrapped">
              <img class="img-fluid mx-auto" src="assets/images/github-wrapped.png" width="70%" height="70%" alt="GitHub Wrapped">
            </a>
        </picture>
    </div>

    <div class="row">
        <p>Top Langs</p>
        <picture class="mx-auto d-block">
        </picture>
    </div>
</div>